* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between; /* space between title and links */
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-family: "Times New Roman", serif;
}

.navbar h1 {
  color: #0C2B4E; /* your purple title color */
  margin: 0;
}

.navbar .links {
  display: flex;
  gap: 20px; /* spacing between Home and New Blog */
}

.navbar .links a {
  padding: 6px 10px;
  color: #0C2B4E;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .links a:hover {
  color: #5a8e1b;
}


.content {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
}
.home {
  max-width: 800px;
  margin: 1px auto;
  padding: 20px;
  font-family: "Times New Roman", serif;
}

.blog-preview {
  padding: 20px;
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 22px;
}

.blog-preview:hover {
  background-color: #f9f9f9;
  transform: translateY(-3px);
}

.blog-preview h2 {
  color: #b39ddb; /* matches your purple blog title */
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.blog-preview p {
  color: #555;
  font-style: italic;
  margin: 0;
}
.blog-preview a{
  text-decoration:none;
}
.blog-details h2{
  font-size:20 px;
  color:rgb(95, 17, 118);
  margin-bottom:10px;
  }

.blog-details div{
  margin:20px 0;
}
.blog-details button{
  color:white;
  background:#A7AAE1;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}
.create {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: "Times New Roman", serif;
}

.create h2 {
  text-align: center;
  color: #2E6F40;
  margin-bottom: 25px;
  font-size: 28px;
}

.create form {
  display: flex;
  flex-direction: column;
}

.create label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.create input,
.create textarea,
.create select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border 0.2s ease-in-out;
}

.create input:focus,
.create textarea:focus,
.create select:focus {
  border: 1px solid #48872B;
  outline: none;
}

.create textarea {
  min-height: 120px;
  resize: vertical;
}

.create button {
  background: #39542C;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.create button:hover {
  background: #9fe27b;
}