* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between; /* space between title and links */
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-family: "Times New Roman", serif;
}

.navbar h1 {
  color: #b39ddb; /* your purple title color */
  margin: 0;
}

.navbar .links {
  display: flex;
  gap: 20px; /* spacing between Home and New Blog */
}

.navbar .links a {
  padding: 6px 10px;
  color: #86c632;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .links a:hover {
  color: #5a8e1b;
}


.content {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
}
